{% extends "base.html.j2" %}
{% block title %}how{% endblock %}
{% block content %}
<section>
  <h2>Principles</h2>
  {% for principle in principles %}
  <article>
    <h3>{{ principle.title }}</h3>
    {{ principle.content_html | safe }}
  </article>
  {% endfor %}
</section>

<section>
  <h2>Patterns</h2>
  {% for pattern in patterns %}
  <article>
    <a href="{{ root }}patterns/{{ pattern.slug }}.html"><h3>{{ pattern.title }}</h3></a>
    <p>{{ pattern.summary }}</p>
  </article>
  {% endfor %}
</section>
{% endblock %}
